@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: url(https://4kwallpapers.com/images/walls/thumbs_3t/14367.png) no-repeat fixed center;
    margin: 0;
    padding: 70px 0;
    background-size: cover;
    overflow: auto; /* Allow scrolling but hide scrollbars */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent dark overlay */
    backdrop-filter: blur(10px); /* Blur effect */
    z-index: 0; /* Ensure it is behind the header but above other content */
}

header {
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

h1, h2 {
    color: #fff;
    font-weight: bold;
    z-index: 10;
    font-size: 2em; /* Optional: Adjust the font size as needed */
}

.container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}

iframe {
    border-radius: 15px;
    overflow: hidden; /* Hide scrollbars */
}

#sinoo, #oris, #ariety {
    z-index: 10;
    position: relative;
}

footer {
    font-weight: bold;
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(45deg, #9e3838, #2c4d8a);
    color: white;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        margin-top: 10px;
        padding: 15px;
    }

    footer {
        padding: 8px 0;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 1.5em;
    }

    .container {
        margin-top: 5px;
        padding: 10px;
    }

    footer {
        padding: 5px 0;
    }
}